.topnav {
    font-size: 1.5em;
    background-color: rgb(37, 87, 148);
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.topnavItem {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnavItem:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.activeItem {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f2f2f2;
    background-color: rgb(10,25,41);
}