.App {
  text-align: center;
  display: flex;
  background-color: #f3f3f3;
  width:90%;
  max-width:2000px;
  margin:0 auto;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 10px;
}

.main-content {
  width: 100%;
}

.MuiAccordion-root .MuiAccordionSummary-content p{
  font-size:1.2em
}

.MuiAccordion-root .MuiAccordion-region p{
  font-size:1em
}



